.SellsContainers{
width: 600px;
height: auto;
margin: 0 auto 0 auto;
}

.SellsPageWelCome{
    color: rgb(0, 174, 243);
}
.WelCome{
    color: blue;
    font-style: italic;
}
.SellsContainer{
    width: 350px;
    height: auto;
    margin: 0 auto 0 auto;
    font-weight: bold;

}
.SellInfo{
    font-size: 18px;
    width: 550px;
    height: auto;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
   
}
.ImportImg{
    color: rgba(0, 183, 255, 0.697);
}

.BookInfo{
    width: 80%;
    height: 30px;
    border: 0;
    border-style: none;
    font-size: 13px;
    border-bottom: 1px rgb(153, 150, 150) solid;
    outline: none;

}
.BookName{
    margin-top: 20px;
}

.sellButton{
    margin-top: 20px;
    display: flex;
    justify-content: end;
    width: 82%;
}