
.ForgotPasswordContainer {
 margin-left: auto;
 margin-right: auto;
 width: 500px;
 display: flex;
 align-items: center;
 justify-content: center;
 }
.contain {
  font-size: 20px;
}
.newPasswordInput {
  width: 360px;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
}
.newPassword {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}
.password{
  margin-bottom: 5px;

}

.resetButton {
  width: 75%;
  padding: 10px 0px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  background-color: rgb(18, 171, 231);
  border: none;
}

