.resetpassword {
  background-color: gainsboro;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  padding-left: 45px;
}
.verify {
  background-color: blue;
  margin-top: 40px;
  border: none;
  color: aliceblue;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
}
.ForgotPassword {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 450px;
}
.ForgotInput {
  padding: 10px;
  width: 250px;
  margin-top: 30px;
  border: none;
}
.ForgotEmail {
  padding-top: 30px;
}
.ResetButtonContinue {
  margin-top: 50px;
}
