.navBar{
    display: flex;
}
.back{
    margin-top: 25px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 18px;
}

.container{
    margin: 120px auto 0 auto;
    width: 380px;
    height: auto;
}
h1{
    font: 20px;
}
.contain{
    font-size: 20px;
}
input {
    width: 360px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
}
.newPassword{
    margin-top: 30px;
    font-size: 20px;
    
}
.reNewPassword{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}
button{
    width: 365px;
    height: 38px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold ;
    letter-spacing: 1px;
    color: white;
    background-color: rgb(18, 171, 231);
    border: none;
}