.search {
  border-radius: 5px;
  background-color: gainsboro;
  border: none;
  margin-left: 300px;
  padding: 5px;
  padding-right: 200px;
  margin-top: 50px;
}
.container {
  margin-left: 50px;
  margin-right: 50px;
  background-color: red;
}
.image {
  height: 220px;
  width: 200px;
  margin-top: 30px;
}
.price {
  margin: 0px;
  color: #ec8989;
}
.BookName {
  margin: 0px;
}
.Booklist {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}
.break {
  display: flex;
}
