.resetpassword {
  background-color: whitesmoke;
  height: 200px;
  width: 700px;
  /* display: flex; */
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  text-align: center;
}
.verify {
  background-color: blue;
  color: black;
  margin-top: 10px;
  border: none;
  margin-left: 20px;
  color: aliceblue;
}
