.App {
  text-align: center;
}
.image {
  height: 220px;
  width: 200px;
  margin-top: 30px;
}
.price {
  margin: 0px;
  color: #ec8989;
}
.BookName {
  margin: 0px;
}
.Booklist {
  display: flex;
  justify-content: space-between;
}
